In [3]:
import pandas as pd
import numpy as np

In [8]:
test = pd.read_csv("C:\\Users\\Zahra\\Downloads\\test.csv")
train = pd.read_csv("C:\\Users\\Zahra\\Downloads\\train.csv")

In [11]:
test.head()

,User_ID,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
0,500,27,Female,Snapchat,120,4,40,18,22,Neutral
1,488,21,Non-binary,Snapchat,60,1,18,7,12,Neutral
2,776,28,Non-binary,Snapchat,115,3,38,18,27,Anxiety
3,869,27,Male,Telegram,105,3,48,20,28,Anxiety
4,573,21,Non-binary,Facebook,55,3,17,7,12,Neutral

In [12]:
train.head()

,User_ID,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
0,1,25,Female,Instagram,120.0,3.0,45.0,10.0,12.0,Happiness
1,2,30,Male,Twitter,90.0,5.0,20.0,25.0,30.0,Anger
2,3,22,Non-binary,Facebook,60.0,2.0,15.0,5.0,20.0,Neutral
3,4,28,Female,Instagram,200.0,8.0,100.0,30.0,50.0,Anxiety
4,5,33,Male,LinkedIn,45.0,1.0,5.0,2.0,10.0,Boredom

In [ ]:
print("The Test Dataset Shap (rows, columns): ", test.shape)
print("The Train Dataset Shap (rows, columns): ", train.shape)

The Test Dataset Shap (rows, columns):  (103, 10)
The Train Dataset Shap (rows, columns):  (1001, 10)

In [14]:
display(test.columns)
display(train.columns)

Index(['User_ID', 'Age', 'Gender', 'Platform', 'Daily_Usage_Time (minutes)',
       'Posts_Per_Day', 'Likes_Received_Per_Day', 'Comments_Received_Per_Day',
       'Messages_Sent_Per_Day', 'Dominant_Emotion'],
      dtype='str')

Index(['User_ID', 'Age', 'Gender', 'Platform', 'Daily_Usage_Time (minutes)',
       'Posts_Per_Day', 'Likes_Received_Per_Day', 'Comments_Received_Per_Day',
       'Messages_Sent_Per_Day', 'Dominant_Emotion'],
      dtype='str')

In [16]:
test.info()

<class 'pandas.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     103 non-null    int64
 1   Age                         103 non-null    str
 2   Gender                      103 non-null    str
 3   Platform                    103 non-null    str
 4   Daily_Usage_Time (minutes)  103 non-null    int64
 5   Posts_Per_Day               103 non-null    int64
 6   Likes_Received_Per_Day      103 non-null    int64
 7   Comments_Received_Per_Day   103 non-null    int64
 8   Messages_Sent_Per_Day       103 non-null    int64
 9   Dominant_Emotion            103 non-null    str
dtypes: int64(6), str(4)
memory usage: 8.2 KB

In [17]:
train.info()

<class 'pandas.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     1001 non-null   str
 1   Age                         1001 non-null   str
 2   Gender                      1000 non-null   str
 3   Platform                    1000 non-null   str
 4   Daily_Usage_Time (minutes)  1000 non-null   float64
 5   Posts_Per_Day               1000 non-null   float64
 6   Likes_Received_Per_Day      1000 non-null   float64
 7   Comments_Received_Per_Day   1000 non-null   float64
 8   Messages_Sent_Per_Day       1000 non-null   float64
 9   Dominant_Emotion            1000 non-null   str
dtypes: float64(5), str(5)
memory usage: 78.3 KB